<div *ngIf="form; else loader">
  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <h1>Edit Post: </h1>

    <div
      [ngClass]="{invalid: validateField(titleField)}"
      class="form-control"
    >
      <label>
        Title:
        <input
          formControlName="title"
          id="title"
          type="text"
        >
        <div
          *ngIf="validateField(titleField)"
          class="validation"
        >
          <small *ngIf="titleField.errors.required">This Field Would Required</small>
        </div>
      </label>
    </div>

    <div class="form-control">
      <label>Post Content:
        <quill-editor formControlName="text"></quill-editor>
      </label>
    </div>

    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="form.invalid || isSubmitted"
    >Update Post</button>
  </form>
</div>

<ng-template #loader>
  <p class="text-center">Loading...</p>
</ng-template>
