<nav class="navbar bg-primary">
  <h1>
    <a [routerLink]="homePage">Angular Admin</a>
  </h1>

  <ul *ngIf="authService.isAuth()">
    <li routerLinkActive="active">
      <a [routerLink]="dashboardPage">Dashboard Page</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="createPage">Create Page</a>
    </li>
    <li>
      <a
        href="#"
        (click)="logout($event)"
      >LogOut</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
